img {
    vertical-align: top;
}
.nav-fl3 a {
    background-color: #fff;
    color: #E71919;
    border-top: 4px solid #3C90ED;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2) ;
}

/*子导航栏开始*/

.sub-nav1 {
    margin-bottom: 30px;
    height: 40px;
    background-color: #fff;
    line-height: 40px;

}
.sub-fl1 {
    float: left;
    padding: 0 15px;
}
.sub-fl1:hover a {
    color: #F00D0D;
}

/*子导航栏结束*/
/*内容区域开始*/
.sub-dry {
    width: 860px;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    padding: 6px 20px;
    box-sizing: border-box;
    margin-bottom: 1px;
}
.demo-dry {
    width: 860px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.dry {
    width: 860px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    height: 200px;
}
.dry img {
    border-radius: 5px;
}
.top>ul>li {
    font-size: 12px;

}
.top-fl {
    float: left;
    padding: 0 5px;
}
.top-fr {
    float: right;
    padding: 0 5px;
}
.demo-tittle {
    font-size: 26px;
    color: #171717;
    line-height: 26px;
    text-align: center;
}
.sub-tittle {
    font-size: 18px;
    text-align: center;
    margin-top: 17px;
    line-height: 17px;
}
.tittle {
    font-size: 22px;
    color: #A5A4A4;
    padding-left: 90px;
    width: 440px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tittle:hover {
    color: red;
}
.demo-summary {
    width: 760px;
    text-indent: 2em;
    font-size: 14px;
    padding-left: 40px;
    margin-top: 20px;
    line-height: 24px;
}
.demo-dry img {
    max-width: 820px;
    display: block;
    margin: 20px auto;
}
.summary {
    line-height: 26px;
    width: 522px;
    margin-top: 7px;
    height: 100px;
    padding-right: 18px;
    text-indent: 2em;
}
.tips {
    color: #FA9595;
    text-align: center;
    margin-top: 10px;
}
.first-tittle {
    width: 232px;
    margin: 30px auto 20px;
}
.first-tittle1,
.first-tittle2,
.first-tittle3 {
    float: left;
    height: 42px;
    background-color: #EC4141;
    margin-left: 5px;
}
.first-tittle1 {
    margin-left: 0;
    width: 213px;
    line-height: 42px;
    text-align: center;
    font-size: 22px;
    color: #FDFDFD;
}
.first-tittle2 {
    width: 6px;
}
.first-tittle3 {
    width: 3px;
}
.demo-content {
    margin: 6px 0;
    font-size: 16px;
    text-indent: 2em;
    line-height: 28px;
}
.second-tittle {
    font-size: 18px;
    color: #333;
    padding: 10px
}


.introduce1 {
    float: left;
    padding-right: 50px;
}
.introduce2 {
    float: right;
    padding-right: 18px;
}


.dry-fr {
    float: right;
}
/*分页开始*/
.page-nav {
    float: left;
    width: 40px;
    height: 40px;
    background-color: lightgray;
    margin: 0 5px;
    text-align: center;
    line-height: 40px;
    display: block;
}
.p-color {
    background-color: pink;
}
.page-nav1 {
    float: left;
    width: 30px;
    height: 40px;

    text-align: center;
    line-height: 40px;
}
.page-nav:hover {
    background-color: pink;
}

.page-box {
    margin-top: 40px;
    margin-left: 160px;
}
/*右侧推荐栏*/
.container {
    position: relative;
}
.fix {
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    left: 1250px;
}

.fix-cloud {
    top: 126px;

}
.fix-cloud img {
    max-width: 84px;
}
.fix-article img {
    max-width: 84px;
}
.fix-article {
    top: 426px;

}
.fix-tittle {
    height: 44px;
    font-size: 16px;
    font-weight: 400;
    padding-left: 30px;
    padding-top: 18px;
    box-sizing: border-box;
}
.fix-cloud1,
.fix-cloud2 {
    position: relative;
    height: 78px;
}
.fix-cloud2 {
    border-bottom: 1px solid #EAEAEA;
    border-top: 1px solid #EAEAEA;
}
.cloud1,
.cloud2 {
    position: absolute;
}
.cloud1 {
    left: 20px;
    top: 10px;
}
.cloud2 {
    left: 118px;
    top: 15px;
    font-size: 12px;
    width: 168px;
}
.cloud2:hover {
    color: red;
}










